

*{
    margin:0;
  padding:0;
  box-sizing:border-box;
    justify-content: center;
  align-items: center;
  text-align: center;
  

  
}

html,body{
   height:100%;
   width:100%;
   background-color:orangered;
   color:black;
}
.h1{
  text-align: center;
  margin-bottom: 10px;
}
.ticket{
  height:50px;
  width:350px;
  border:2px solid black;
  display:flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin-top: 10px;
  background-color: white;
  font-size: 20px;
  border-radius: 10px;
  margin: 10px auto; 
}  
